.zijde{
    position: relative;
    float: left;
    text-align: right;
    width: calc(33.33% - 5px);        
    margin: 10px 5px 0 0;
    font-size: 100%;
}
.hoek{    
    position: relative;
    float: left;
    text-align: right;
    width: calc(33.33% - 5px);        
    margin: 0 5px 0 0;
    font-size: 100%;
}
.gegeven{
    text-align: center;
    font-size: 130%;
}
canvas{    
    width: 50%;
    padding: 0;
    margin: 25px 25%;
    border: none;    
}